

header{ background-color: purple;
        color: yellow;
}
.lesson{
    background-color: blue;
    color: orange;
}
.container{
    background-color: black;
    color: white;
}
.portfolio{
    color: yellow;
}
img {
    height: 200px;
    width: 200px;
}